<ion-view title="1° Año" id="page8" style="background-color:#FFD907;">
  <ion-content padding="true" class="has-header">
    <ion-list id="1AO-list64">
      <ion-item class="item-divider" id="1AO-list-item-divider3"> Ingreso</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item25" ui-sref="psicopedagogA.introducciNALaPsicopedagogA()">
        <i class="icon ion-university"></i>Introducción a la Psicopedagogía</ion-item>
    </ion-list>
    <ion-list id="1AO-list65">
      <ion-item class="item-icon-left dark" id="1AO-list-item26" ui-sref="psicopedagogA.introALosEstudiosDeLaVidaUniversitaria()">
        <i class="icon ion-university"></i>Intro a los estudios de la vida universitaria</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="1AO-list66">
      <ion-item class="item-divider" id="1AO-list-item-divider4"> 1° Cuatrimestre</ion-item>
    </ion-list>
    <ion-list id="1AO-list67">
      <ion-item class="item-icon-left dark" id="1AO-list-item37" ui-sref="psicopedagogA.pedagogA()">
        <i class="icon ion-university"></i>Pedagogía</ion-item>
    </ion-list>
    <ion-list id="1AO-list68">
      <ion-item class="item-icon-left dark" id="1AO-list-item38" ui-sref="psicopedagogA.psicologA()">
        <i class="icon ion-university"></i>Psicología</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item39" ui-sref="psicopedagogA.filosofA()">
        <i class="icon ion-university"></i>Filosofía</ion-item>
    </ion-list>
    <ion-list id="1AO-list69">
      <ion-item class="item-icon-left dark" id="1AO-list-item40" ui-sref="psicopedagogA.neurobiologA()">
        <i class="icon ion-university"></i>Neurobiología</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="1AO-list7">
      <ion-item class="item-divider" id="1AO-list-item-divider6"> 2° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item44" ui-sref="psicopedagogA.epistemologA()">
        <i class="icon ion-university"></i>Epistemología</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item45" ui-sref="psicopedagogA.psicologADelDesarrolloI()">
        <i class="icon ion-university"></i>Psicología del Desarrollo I</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item46" ui-sref="psicopedagogA.expresiNOralYEscrita()">
        <i class="icon ion-university"></i>Expresión Oral y Escrita</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item47" ui-sref="psicopedagogA.psicopedagogA2()">
        <i class="icon ion-university"></i>Psicopedagogía</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>