<ion-view title="2° Año" id="page9" style="background-color:#FFD907;">
  <ion-content padding="true" class="has-header">
    <ion-list id="2AO-list73">
      <ion-item class="item-divider" id="2AO-list-item-divider7"> 1° Cuatrimestre</ion-item>
    </ion-list>
    <ion-list id="2AO-list74">
      <ion-item class="item-icon-left dark" id="2AO-list-item29" ui-sref="psicopedagogA.antropologASocioCultural()">
        <i class="icon ion-university"></i>Antropología Socio-cultural</ion-item>
    </ion-list>
    <ion-list id="2AO-list75">
      <ion-item class="item-icon-left dark" id="2AO-list-item30" ui-sref="psicopedagogA.historiaDeLaEducaciN()">
        <i class="icon ion-university"></i>Historia de la Educación</ion-item>
    </ion-list>
    <ion-list id="2AO-list76">
      <ion-item class="item-icon-left dark" id="2AO-list-item31" ui-sref="psicopedagogA.psicologAGenTica()">
        <i class="icon ion-university"></i>Psicología Genética</ion-item>
    </ion-list>
    <ion-list id="2AO-list77">
      <ion-item class="item-icon-left dark" id="2AO-list-item32" ui-sref="psicopedagogA.psicoanLisis()">
        <i class="icon ion-university"></i>Psicoanálisis</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="2AO-list8">
      <ion-item class="item-divider" id="2AO-list-item-divider8"> 2° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item49" ui-sref="psicopedagogA.psicologASocial()">
        <i class="icon ion-university"></i>Psicología Social</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item50" ui-sref="psicopedagogA.psicologADelDesarrolloII()">
        <i class="icon ion-university"></i>Psicología del Desarrollo II</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item51" ui-sref="psicopedagogA.informTica()">
        <i class="icon ion-university"></i>Informática</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item52" ui-sref="psicopedagogA.intervenciNPsicopedagGica()">
        <i class="icon ion-university"></i>Intervención Psicopedagógica</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>