<ion-view title="3° Año" id="page10" style="background-color:#FFD907;">
  <ion-content padding="true" class="has-header">
    <ion-list id="3AO-list31">
      <ion-item class="item-divider" id="3AO-list-item-divider10"> Anual</ion-item>
    </ion-list>
    <ion-list id="3AO-list37">
      <ion-item class="item-icon-left dark" id="3AO-list-item36" ui-sref="psicopedagogA.diagnosticoPsicopedagGico()">
        <i class="icon ion-university"></i>Diagnostico Psicopedagógico</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="3AO-list78">
      <ion-item class="item-divider" id="3AO-list-item-divider9"> 1° Cuatrimestre</ion-item>
    </ion-list>
    <ion-list id="3AO-list79">
      <ion-item class="item-icon-left dark" id="3AO-list-item35" ui-sref="psicopedagogA.psicologADeLaEducaciN()">
        <i class="icon ion-university"></i>Psicología de la Educación</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item195" ui-sref="psicopedagogA.sociologADeLaEducaciN()">
        <i class="icon ion-university"></i>Sociología de la Educación</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item196" ui-sref="psicopedagogA.inglS()">
        <i class="icon ion-university"></i>Inglés</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="3AO-list45">
      <ion-item class="item-divider" id="3AO-list-item-divider29"> 2° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item197" ui-sref="estadSticaAplicada()">
        <i class="icon ion-university"></i>Estadística Aplicada</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item198" ui-sref="psicopedagogA.didCticaGeneral()">
        <i class="icon ion-university"></i>Didáctica General</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item199" ui-sref="psicopedagogA.seminarioLaInvestigaciNPsicopedagGicaEnContextosEscolaresDeRiesgo()">
        <i class="icon ion-university"></i>Seminario: La investigación Psicopedagógica en contextos escolares de riesgo</ion-item>
    </ion-list>
  </ion-content>
</ion-view>