<ion-view title="4° Año" id="page42" style="background-color:#FFD907;">
  <ion-content padding="true" class="has-header">
    <ion-list id="4AO-list51">
      <ion-item class="item-divider" id="4AO-list-item-divider32"> 1° Cuatrimestre</ion-item>
    </ion-list>
    <ion-list id="4AO-list53">
      <ion-item class="item-icon-left dark" id="4AO-list-item202" ui-sref="psicopedagogA.psicopatologA()">
        <i class="icon ion-university"></i>Psicopatología</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item203" ui-sref="psicopedagogA.psicopedagogAInstitucional()">
        <i class="icon ion-university"></i>Psicopedagogía Institucional</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item204" ui-sref="psicopedagogA.educaciNEspecial()">
        <i class="icon ion-university"></i>Educación Especial</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item215" ui-sref="psicopedagogA.didCticaI()">
        <i class="icon ion-university"></i>Didáctica I</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="4AO-list57">
      <ion-item class="item-divider" id="4AO-list-item-divider33"> 2° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item205" ui-sref="psicopedagogA.tratamientoPsicopedagGico()">
        <i class="icon ion-university"></i>Tratamiento Psicopedagógico</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item213" ui-sref="psicopedagogA.orientaciNEducacional()">
        <i class="icon ion-university"></i>Orientación Educacional</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item214" ui-sref="psicopedagogA.didCticaII()">
        <i class="icon ion-university"></i>Didáctica II</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item216" ui-sref="psicopedagogA.seminarioAbordajePsicopedagGicoEnElCampoDeLaEducaciNEspecialAdaptacionesCurricularesIntegraciNEscolar()">
        <i class="icon ion-university"></i>Seminario: Abordaje Psicopedagógico en el campo de la Educación Especial: adaptaciones curriculares - integración escolar</ion-item>
    </ion-list>
  </ion-content>
</ion-view>