<ion-view title="5° Año" id="page43" style="background-color:#FFD907;">
  <ion-content padding="true" class="has-header">
    <ion-list id="5AO-list59">
      <ion-item class="item-divider" id="5AO-list-item-divider34"> Anual</ion-item>
    </ion-list>
    <ion-list id="5AO-list86">
      <ion-item class="item-icon-left dark" id="5AO-list-item217">
        <i class="icon ion-university"></i>Práctica Clínica Psicopedagógica</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item219" ui-sref="psicopedagogA.prCticaPsicopedagGicaEnInstitucionesEducativas()">
        <i class="icon ion-university"></i>Práctica Psicopedagógica en Instituciones Educativas</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item220" ui-sref="psicopedagogA.metodologADeLaInvestigaciN()">
        <i class="icon ion-university"></i>Metodología de la Investigación</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="5AO-list90">
      <ion-item class="item-divider" id="5AO-list-item-divider36"> 1° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item222" ui-sref="psicopedagogA.TicaYDeontologA()">
        <i class="icon ion-university"></i>Ética y Deontología</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item223" ui-sref="psicopedagogA.polTicaYLegislaciNEnEducaciN()">
        <i class="icon ion-university"></i>Política y Legislación en Educación</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="5AO-list87">
      <ion-item class="item-divider" id="5AO-list-item-divider37"> 2° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item274" ui-sref="psicopedagogA.currCulo()">
        <i class="icon ion-university"></i>Currículo</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item289" ui-sref="psicopedagogA.orientaciNVocacional()">
        <i class="icon ion-university"></i>Orientación Vocacional</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item290" ui-sref="psicopedagogA.formaciNDeEmprendedores()">
        <i class="icon ion-university"></i>Formación de emprendedores</ion-item>
    </ion-list>
  </ion-content>
</ion-view>