<ion-view title="Alcance del Título" id="page7">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <div>Su ámbito abarca la educación y la salud mental, la acción preventiva y asistencial, en todo lo referente a las situaciones de aprendizaje del ser humano a lo largo de las etapas evolutivas para detectar perturbaciones y/o anomalías y favorecer
        las condiciones óptimas del mismo.</div>
      <div>&nbsp;</div>
      <div>Es de su competencia el diagnóstico, tratamiento y pronóstico a nivel individual y grupal; así como la orientación educacional y vocacional-ocupacional.</div>
      <div>&nbsp;</div>
      <div>Integra equipos de planeamiento de ejecución y evaluación de planes tendientes a corregir o mejorar y promover procesos armónicos de aprendizaje.</div>
      <div>&nbsp;</div>
      <div>Realiza y participa en estudios e investigaciones referidos al quehacer educacional y de la salud con los métodos, técnicas y recursos propios de la investigación psicopedagógica.</div>
    </div>
  </ion-content>
</ion-view>