<ion-view title="Inicio" hide-nav-bar="true" id="page1" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(img/7hof0T9IQreyD3zsjgpq_FondoApp11.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div id="inicio-button-bar1" class="button-bar"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/aY9NzAtgTSSJvADMOUaX_LogoPsicopedagogiaApp1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <ion-list id="inicio-list3">
      <ion-item class="item-avatar dark" id="inicio-list-item9" ui-sref="psicopedagogA.planDeEstudios()">
        <img src="img/XHtFo3itR29w9olLNO1y_006psico.png">
        <h2dark>Plan de Estudios</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item10" ui-sref="psicopedagogA.horarios()">
        <img src="img/1YWThiUYSdiuU9zIfswk_005psico.png">
        <h2dark>Horarios</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item23" ui-sref="psicopedagogA.programasDeCTedra()">
        <img src="img/BtPriiyYQhKKNHUnP2Ah_004psico.png">
        <h2dark>Programas de Cátedra</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item11" ui-sref="psicopedagogA.bibliotecaDigital()">
        <img src="img/srBZUfFsTiW050uZHcic_003psico.png">
        <h2dark>Biblioteca Digital</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item24" ui-sref="psicopedagogA.calendarioAcadMico()">
        <img src="img/wQePCjaxRNmfGAtyhCRG_002psico.png">
        <h2dark>Calendario Académico</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item12" ui-sref="psicopedagogA.acercaDeLaApp()">
        <img src="img/Y3r1ihy1ReqeDasdjb14_001psico.png">
        <h2dark>Acerca de la App</h2dark>
      </ion-item>
    </ion-list>
    <a ui-sref="psicopedagogA.gUAUNLaR()" id="inicio-button3" class="button button-royal button-block">GUÍA UNLaR</a>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>