<ion-view title="Perfil del Graduado" id="page6">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #ff6600;">Resolución Ministerial Nº 1412/18</span>
      </h4>
      <hr>
      <h3>&nbsp;</h3>
      <h4>
        <span style="color: #ff6600;">Perfil del Graduado</span>
      </h4>
      <div>El Licenciado en Psicopedagogía es un graduado universitario con conocimientos en las áreas Filosóficas, Pedagógicas, Psico-sociológica y Biológica que le permiten la comprensión integral del sujeto en situación de aprendizaje.</div>
      <div>&nbsp;</div>
      <div>Posee capacidad y habilidad para aplicar en forma creativa los métodos y técnicas adecuadas para la prevención, el diagnóstico, orientación y tratamiento del aprendizaje y para realizar procesos de orientación educacional y vocacional.</div>
      <div>&nbsp;</div>
      <div>Posee además conocimientos de epistemología y metodología de la investigación y habilidad para aplicarlos en la realización de estudios con el objeto de producir nuevos aportes que enriquezcan el área de su especialidad.</div>
      <div>&nbsp;</div>
      <div>Su formación ética, crítica y reflexiva le permite un accionar profesional acorde a la realidad y su integración en equipos interdisciplinarios.</div>
    </div>
  </ion-content>
</ion-view>