<ion-view title="Programas de Cátedra" id="page12" style="background-color:#FFD907;">
  <ion-content padding="true" class="has-header">
    <ion-list id="programasDeCTedra-list11">
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item33">
        <i class="icon ion-ios-list-outline"></i>Introducción a la Psicopedagogía</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item34">
        <i class="icon ion-ios-list-outline"></i>Intro a los estudios de la vida universitaria</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item53">
        <i class="icon ion-ios-list-outline"></i>Pedagogía</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item54">
        <i class="icon ion-ios-list-outline"></i>Psicología</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item55">
        <i class="icon ion-ios-list-outline"></i>Filosofía</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item56">
        <i class="icon ion-ios-list-outline"></i>Neurobiología</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item57">
        <i class="icon ion-ios-list-outline"></i>Epistemología</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item58">
        <i class="icon ion-ios-list-outline"></i>Psicología del Desarrollo I</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item59">
        <i class="icon ion-ios-list-outline"></i>Expresión Oral y Escrita</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item60">
        <i class="icon ion-ios-list-outline"></i>Psicopedagogía</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item61">
        <i class="icon ion-ios-list-outline"></i>Antropología Socio-cultural</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item62">
        <i class="icon ion-ios-list-outline"></i>Historia de la Educación</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item63">
        <i class="icon ion-ios-list-outline"></i>Psicología Genética</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item64">
        <i class="icon ion-ios-list-outline"></i>Psicoanálisis</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item65">
        <i class="icon ion-ios-list-outline"></i>Psicología Social</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item66">
        <i class="icon ion-ios-list-outline"></i>Psicología del Desarrollo II</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item67">
        <i class="icon ion-ios-list-outline"></i>Informática</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item68">
        <i class="icon ion-ios-list-outline"></i>Intervención Psicopedagógica</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item69">
        <i class="icon ion-ios-list-outline"></i>Diagnostico Psicopedagógico</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item70">
        <i class="icon ion-ios-list-outline"></i>Psicología de la Educación</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item71">
        <i class="icon ion-ios-list-outline"></i>Sociología de la Educación</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item72">
        <i class="icon ion-ios-list-outline"></i>Inglés</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item73">
        <i class="icon ion-ios-list-outline"></i>Estadística Aplicada</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item74">
        <i class="icon ion-ios-list-outline"></i>Didáctica General</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item119">
        <i class="icon ion-ios-list-outline"></i>Seminario: La investigación Psicopedagógica en contextos escolares de riesgo</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item120">
        <i class="icon ion-ios-list-outline"></i>Psicopatología</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item121">
        <i class="icon ion-ios-list-outline"></i>Psicopedagogía Institucional</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item129">
        <i class="icon ion-ios-list-outline"></i>Educación Especial</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item155">
        <i class="icon ion-ios-list-outline"></i>Didáctica I</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item171">
        <i class="icon ion-ios-list-outline"></i>Tratamiento Psicopedagógico</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item172">
        <i class="icon ion-ios-list-outline"></i>Orientación Educacional</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item183">
        <i class="icon ion-ios-list-outline"></i>Didáctica II</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item184">
        <i class="icon ion-ios-list-outline"></i>Seminario: Abordaje Psicopedagógico en el campo de la Educación Especial: adaptaciones curriculares - integración escolar</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item185">
        <i class="icon ion-ios-list-outline"></i>Práctica Clínica Psicopedagógica</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item186">
        <i class="icon ion-ios-list-outline"></i>Práctica Psicopedagógica en Instituciones Educativas</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item187">
        <i class="icon ion-ios-list-outline"></i>Metodología de la Investigación</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item189">
        <i class="icon ion-ios-list-outline"></i>Ética y Deontología</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item190">
        <i class="icon ion-ios-list-outline"></i>Política y Legislación en Educación</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item191">
        <i class="icon ion-ios-list-outline"></i>Currículo</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item192">
        <i class="icon ion-ios-list-outline"></i>Orientación Vocacional</ion-item>
      <ion-item class="item-icon-left royal" id="programasDeCTedra-list-item193">
        <i class="icon ion-ios-list-outline"></i>Formación de emprendedores</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>