<ion-view title="Psicología" id="page16" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="psicologA-list18">
      <ion-item class="item-divider" id="psicologA-list-item-divider11"> Presentaciones</ion-item>
      <ion-item class="item-icon-right dark" id="psicologA-list-item98" href-inappbrowser="https://drive.google.com/file/d/1K9NUEgxo-93NN65BzogfO-asSk0RWMo9/view?usp=sharing">Introducción
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>