<ion-view title="Seminario: Abordaje Psicopedagógico en el campo de la Educación Especial: adaptaciones curriculares - integración escolar" id="page52" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="seminarioAbordajePsicopedagGicoEnElCampoDeLaEducaciNEspecialAdaptacionesCurricularesIntegraciNEscolar-list101">
      <ion-item class="item-icon-right dark" id="seminarioAbordajePsicopedagGicoEnElCampoDeLaEducaciNEspecialAdaptacionesCurricularesIntegraciNEscolar-list-item225">Sin Contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>